<!doctype html>
<!-- 
* Bootstrap Simple Admin Template
* Version: 2.1
* Author: Alexis Luna
* Website: https://github.com/alexis-luna/bootstrap-simple-admin-template
-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Users | Bootstrap Simple Admin Template</title>
    <link href="/assets/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="/assets/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="/assets/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/datatables/datatables.min.css" rel="stylesheet">
    <link href="/assets/css/master.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <!-- sidebar navigation component -->
        <nav id="sidebar" class="active">
            <div class="sidebar-header">
                <img src="thrayiLogo/thrayi-logo.png" alt="bootraper logo" class="app-logo">
            </div>

            <!-- side bar -->
            <ul class="list-unstyled components text-secondary">

                <!-- dashboard -->
                <li>
                    <a href="/admin"><i class="fas fa-home"></i> Dashboard</a>
                </li>

                <!-- products -->
                <li>
                    <a href="/admin/products/view"><i class="fas fa-file-alt"></i>Products</a>
                </li>

                <!-- users -->
                <li>
                    <a href="/admin/user/view"><i class="fas fa-user-friends"></i>Users</a>
                </li>

                <!-- orders -->
                <li>
                    <a href="/admin/order/view"><i class="fas fa-chart-bar"></i>Orders</a>
                </li>

                 <!-- return requestss -->
                 <li>
                    <a href="/admin/return-request/review"><i class="fas fa-undo-alt"></i>Return-requests</a>
                </li>

                <!-- coupons -->
                <li>
                    <a href="/admin/coupon/view"><i class="fas fa-table"></i>Coupons </a>
                </li>

                <!-- banners -->
                <li>
                    <a href="/admin/banner/view"><i class="fas fa-icons"></i>Banners</a>
                </li>

                <!-- about page -->
                <li>
                    <a href="/admin/about/view"><i class="fas fa-info-circle"></i>About Page</a>
                </li>

                <!-- contact page -->
                <li>
                    <a href="/admin/contact/view"><i class="fas fa-envelope"></i>Contact Page</a>
                </li>
        
            </ul>

        </nav>
        <!-- end of sidebar component -->
        <div id="body" class="active">
            <!-- navbar navigation component -->
            <nav class="navbar navbar-expand-lg navbar-white bg-white">
                <button type="button" id="sidebarCollapse" class="btn btn-light">
                    <i class="fas fa-bars"></i><span></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <div class="nav-dropdown">
                                <a href="#" id="nav1" class="nav-item nav-link dropdown-toggle text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-link"></i> <span>Quick Links</span> <i style="font-size: .8em;" class="fas fa-caret-down"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end nav-link-menu" aria-labelledby="nav1">
                                    <ul class="nav-list">
                                        <li><a href="" class="dropdown-item"><i class="fas fa-list"></i> Access Logs</a></li>
                                        <div class="dropdown-divider"></div>
                                        <li><a href="" class="dropdown-item"><i class="fas fa-database"></i> Back ups</a></li>
                                        <div class="dropdown-divider"></div>
                                        <li><a href="" class="dropdown-item"><i class="fas fa-cloud-download-alt"></i> Updates</a></li>
                                        <div class="dropdown-divider"></div>
                                        <li><a href="" class="dropdown-item"><i class="fas fa-user-shield"></i> Roles</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <div class="nav-dropdown">
                                <a href="#" id="nav2" class="nav-item nav-link dropdown-toggle text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-user"></i> <span>John Doe</span> <i style="font-size: .8em;" class="fas fa-caret-down"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end nav-link-menu">
                                    <ul class="nav-list">
                                        <li><a href="" class="dropdown-item"><i class="fas fa-address-card"></i> Profile</a></li>
                                       
                                        <li><a href="" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- end of navbar navigation -->
            <div class="content">
                <div class="container">
                    <div class="page-title">
                        <h3>Users
                            <a href="roles.html" class="btn btn-sm btn-outline-primary float-end"><i class="fas fa-user-shield"></i> Roles</a>
                        </h3>
                    </div>
                    <div class="box box-primary">
                        <div class="box-body">
                            <table width="100%" class="table table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Profle Image</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>PhoneNumber</th>
                                        <th>address</th>
                                    
                                    </tr>
                                </thead>
                                <tbody>

                                    <% users.forEach(user => { %>
                                        <tr>
                                            <td><img src="/users-images/<%= user.image %>"  alt="" class="profile-image"></td>
                                            <td><%= user.name %></td>
                                            <td><%= user.emailId %></td>
                                            <td><%= user.phoneNumber %></td>
                                            <td><% if (user.address) { %>
                                             <p><%= user.address.country %> , <%= user.address.state %></p>
                                             <p><%= user.address.address %> , <%= user.address.city %></p>
                                             
                                            <% } %></td>
                                            <td class="text-end">

                                                <a onclick="blockUser('<%= user._id %>')" class="btn btn-outline-warning btn-rounded befor-clicked " >

                                                    <% if (user.isBlocked) { %>
                                                        <!-- unblock icon -->
                                                        <i class="fas fa-unlock unblock" data-id="<%= user._id %>" ></i>
                                                    <% } else { %>
                                                        <!-- block icon -->
                                                        <i class="fas fa-ban block" data-id="<%= user._id %>" ></i>
                                                    <% } %>         
                                                    
                                                </a>

                                                
                                            </td>
                                        </tr>
                                    <% }) %>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

             // for block user
            function blockUser (userId) {

                const iconElement = document.querySelector(`i[data-id="${userId}"]`);
                
                
                    $.ajax({
                        url : `/admin/user/block/${userId}` ,
                        method : 'post' ,
                        success : (response) => {
                            
                            if(response.blocked){
                                iconElement.classList.remove('fa-ban','block');
                                iconElement.classList.add('fa-unlock','unblock');
                            }
                            else{
                                iconElement.classList.remove('fa-unlock','unblock');
                                iconElement.classList.add('fa-ban','block');
                               
                            }
                            console.log(iconElement)
                        }
                    })
                }

    </script>
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/datatables/datatables.min.js"></script>
    <script src="/assets/js/initiate-datatables.js"></script>
    <script src="/assets/js/script.js"></script>
</body>

</html>