<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/MagnificPopup/magnific-popup.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

<!-- Toastr CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
</head>
<body class="animsition">
	
	<!-- Header -->
	<%- include('../partials/user-header') %>
		

	<!-- Slider -->
	<section class="section-slide">
		<div class="wrap-slick1">
			<div class="slick1">

				<% banners.forEach(banner => { %>
					<div class="item-slick1" style="background-image: url('/banner-images/<%= banner.image %>');">
						<div class="container h-full">
							<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
								<div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
									<span class="ltext-101 cl2 respon2">
										<%= banner.subTitle %>
									</span>
								</div>
									
								<div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
									<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
										<%= banner.title %>
									</h2>
								</div>
									
								<div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
									<a href="/products" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
										Shop Now
									</a>
								</div>
							</div>
						</div>
					</div>
				<% }) %>

			</div>
		</div>
	</section>


	<!-- Banner -->
	<div class="sec-banner bg0 p-t-80 p-b-50">
		<div class="container">
			<div class="row">
				
				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="images/banner-01.jpg" alt="IMG-BANNER">

						<a href="/products" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									Women
								</span>

								<span class="block1-info stext-102 trans-04">
									Spring 2018
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Shop Now
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="images/banner-02.jpg" alt="IMG-BANNER">

						<a href="/products" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									Men
								</span>

								<span class="block1-info stext-102 trans-04">
									Spring 2018
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Shop Now
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="images/banner-03.jpg" alt="IMG-BANNER">

						<a href="/products" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									Accessories
								</span>

								<span class="block1-info stext-102 trans-04">
									New Trend
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Shop Now
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Product -->
	<section class="bg0 p-t-23 p-b-140">
		<div class="container">
			<div class="p-b-10">
				<h3 class="ltext-103 cl5">
					Product Overview
				</h3>
			</div>

			<div class="flex-w flex-sb-m p-b-52">
				<div class="flex-w flex-l-m filter-tope-group m-tb-10">
					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
						All Products
					</button>

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="women">
						Women
					</button>

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="men">
						Men
					</button>

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="bag">
						Bag
					</button>

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="shoes">
						Shoes
					</button>

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="watches">
						Watches
					</button>
				</div>

				<div class="flex-w flex-c-m m-tb-10">
					<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
						<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
						<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						 Filter
					</div>

					<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
						<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
						<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						Search
					</div>
				</div>
				
				<!-- Search product -->
				<div class="dis-none panel-search w-full p-t-10 p-b-15">
					<div class="bor8 dis-flex p-l-15">
						<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>

						<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" id="inputBox" name="searchProduct" placeholder="Search">
					</div>	
					
				</div>

			<!-- Filter -->
			<div class="dis-none panel-filter w-full p-t-10">
					<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">

						<!-- sort by -->
						<div class="filter-col1 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Sort By
							</div>

							<ul>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04" data-sort="asc">
										Price: Low to High
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04" data-sort="desc">
										Price: High to Low
									</a>
								</li>
							</ul>
						</div>

						<!-- based on price -->
						<div class="filter-col2 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Price
							</div>

							<ul>
								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04 " data-price = '10000'>
										All
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04" data-price = '500'>
										0.00 - 500
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04" data-price="1000">
										500 - 1000
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04" data-price="5000">
										1000 - 5000
									</a>
								</li>

							</ul>
						</div>

						<!-- based on colour -->
						<div class="filter-col3 p-r-15 p-b-27">

							<div class="mtext-102 cl2 p-b-15">
								Color
							</div>

							<ul>
								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #222;">
										<i class="zmdi zmdi-circle"></i>
									</span>

									<a href=""  class="filter-link stext-106 trans-04" data-color="black">
										Black
									</a>
								</li>

								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #4272d7;">
										<i class="zmdi zmdi-circle"></i>
									</span>

									<a  href="" class="filter-link stext-106 trans-04 " data-color="blue" >
										Blue
									</a>
								</li>

								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #b3b3b3;">
										<i class="zmdi zmdi-circle"></i>
									</span>

									<a  href=""  class="filter-link stext-106 trans-04" data-color="grey">
										Grey
									</a>
								</li>

								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #00ad5f;">
										<i class="zmdi zmdi-circle"></i>
									</span>

									<a  href=""  class="filter-link stext-106 trans-04" data-color="green">
										Green
									</a>
								</li>

								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #fa4251;">
										<i class="zmdi zmdi-circle"></i>
									</span>

									<a  href="" class="filter-link stext-106 trans-04"  data-color="red" >
										Red
									</a>
								</li>

								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #aaa;">
										<i class="zmdi zmdi-circle-o"></i>
									</span>

									<a  href=""  class="filter-link stext-106 trans-04" data-color="white">
										White
									</a>
								</li>
							</ul>
							
						</div>
						
					</div>
				</div>
			</div>

			<div class="row isotope-grid showProducts" >
				<% products.forEach(product => { %>
				<div class=" col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item <%= product.category.name %>">
					<!-- Block -->
						<div class="block2">

							<div class="block2-pic hov-img0" >
								<img src="/product-images/<%= product.image[0] %>" data-images = "<%= product.image %>" alt="IMG-PRODUCT">
								<a class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1"
								productId = "<%= product._id %>">
									Quick View
								</a>
							</div>
	
							<div class="block2-txt flex-w flex-t p-t-14">
								<div class="block2-txt-child1 flex-col-l ">
									<a class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
										<%= product.name %>
									</a>
	
									<span class="stext-105 cl3">
										<%= product.price %>
									</span>
									<span class="description  cl3" style="display: none ;">
										<%= product.description %>
									</span>
								</div>
	
								<div class="block2-txt-child2 flex-r p-t-3">
									<% if (isUserLoggedin) { %>
										<a onclick="addtoWishlist('<%= product._id %>','<%= product.name %>')" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2 ">
											<img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png" alt="ICON">
											<img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png" alt="ICON">
										</a>
									<% } %>
									
								</div>
							</div>
						</div>
				</div>
				<% }) %>
			</div>

			<!-- when searching a product -->
			<div class="showSearchProduct row isotope-grid d-none ">	
			</div>
			
			<!-- for show no matched search products -->
			<div class="noSearchProducts d-none" >	
			</div>

			<!-- Load more -->
			<div class="flex-c-m flex-w w-full p-t-45"  >
				<a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
					Load More
				</a>
			</div>
		</div>
	</section>


	<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-32">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Categories
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Women
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Men
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Shoes
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Watches
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Help
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Track Order
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Returns 
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Shipping
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								FAQs
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						GET IN TOUCH
					</h4>

					<p class="stext-107 cl7 size-201">
						Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879
					</p>

					<div class="p-t-27">
						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-instagram"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-pinterest-p"></i>
						</a>
					</div>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Newsletter
					</h4>

					<form>
						<div class="wrap-input1 w-full p-b-4">
							<input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="email@example.com">
							<div class="focus-input1 trans-04"></div>
						</div>

						<div class="p-t-18">
							<button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
								Subscribe
							</button>
						</div>
					</form>
				</div>
			</div>

			<div class="p-t-40">
				<div class="flex-c-m flex-w p-b-18">
					<a href="#" class="m-all-1">
						<img src="images/icons/icon-pay-01.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="images/icons/icon-pay-02.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="images/icons/icon-pay-03.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="images/icons/icon-pay-04.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="images/icons/icon-pay-05.png" alt="ICON-PAY">
					</a>
				</div>

				<p class="stext-107 cl6 txt-center">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

				</p>
			</div>
		</div>
	</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	<!-- Modal1 -->
	<div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
		<div class="overlay-modal1 js-hide-modal1"></div>

		<div class="container">
			<div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
				<button class="how-pos3 hov3 trans-04 js-hide-modal1">
					<img  src="images/icons/icon-close.png" alt="CLOSE">
				</button>

				<div class="row">
					<!-- after change -->
					<div class="col-md-6 col-lg-7 p-b-30">
						<div class="p-l-25 p-r-30 p-lr-0-lg">
							<div class="wrap-slick3 flex-sb flex-w">

								<!-- <div class="wrap-slick3-dots " ></div> -->

								<div></div>
								
								<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

								<div class="slick3 gallery-lb">

									<!-- image 1 -->
									<div class="productPreview1 item-slick3" data-thumb="" >
										<div class="wrap-pic-w pos-relative">
											<img  class="product-image1"  alt="IMG-PRODUCT">

											<a class="product-fullView1 flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="images/product-detail-01.jpg">
												
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>

									<!-- image 2 -->
									<div class="productPreview2 item-slick3" data-thumb="" >
										<div class="wrap-pic-w pos-relative">
											<img  class="product-image2"  alt="IMG-PRODUCT">

											<a class="product-fullView2 flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="images/product-detail-01.jpg">
												
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>

									<!-- image 2 -->
									<div class="productPreview3 item-slick3" data-thumb="" >
										<div class="wrap-pic-w pos-relative">
											<img  class="product-image3"  alt="IMG-PRODUCT">

											<a class="product-fullView3 flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="images/product-detail-01.jpg">
												
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-6 col-lg-5 p-b-30">
						<div class="p-r-50 p-t-5 p-lr-0-lg">
							<h4 class="mtext-105 cl2 js-name-detail p-b-14 product-name">
								Lightweight Jacket
							</h4>

							<span class="mtext-106 cl2 product-price">
								$58.79
							</span>

							<p class="stext-102 cl3 p-t-23 product-description">
								Nulla eget sem vitae eros pharetra viverra. Nam vitae luctus ligula. Mauris consequat ornare feugiat.
							</p>
							
							<!--  -->
							<div class="p-t-33">

								<form id="cart-form" action="" method="post">
								<div class="flex-w flex-r-m p-b-10">
									<div class="size-203 flex-c-m respon6">
										Size
									</div>

									<div class="size-204 respon6-next">
										<div class="rs1-select2 bor8 bg0">
											<select class="js-select2" name="size">
												<option>Choose an option</option>
												<option>Size S</option>
												<option>Size M</option>
												<option>Size L</option>
												<option>Size XL</option>
											</select>
											<div class="dropDownSelect2"></div>
										</div>
									</div>
								</div>

								<div class="flex-w flex-r-m p-b-10">
									<div class="size-203 flex-c-m respon6">
										Color
									</div>

									<div class="size-204 respon6-next">
										<div class="rs1-select2 bor8 bg0">
											<select class="js-select2" name="colour">
												<option>Choose an option</option>
												<option>Red</option>
												<option>Blue</option>
												<option>White</option>
												<option>Grey</option>
											</select>
											<div class="dropDownSelect2"></div>
										</div>
									</div>
								</div>

								<div class="flex-w flex-r-m p-b-10">
									<div class="size-204 flex-w flex-m respon6-next">
										<div class="wrap-num-product flex-w m-r-20 m-tb-10">
											<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-minus"></i>
											</div>

											<input class="mtext-104 cl3 txt-center num-product" type="number" name="buyQuantity" value="1">

											<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-plus"></i>
											</div>
										</div>

										<button type="submit" class="add-to-cart flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
											Add to cart
										</button>
									</div>
								</div>	
							</form>
							</div>

							<!--  -->
							<div class="flex-w flex-m p-l-100 p-t-40 respon7">
								<div class="flex-m bor9 p-r-10 m-r-11">
									<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Add to Wishlist">
										<i class="zmdi zmdi-favorite"></i>
									</a>
								</div>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
									<i class="fa fa-facebook"></i>
								</a>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
									<i class="fa fa-twitter"></i>
								</a>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
									<i class="fa fa-google-plus"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	 <!-- Toastr JS -->
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

	 <!-- for filteringg -->
	 <script>
		// filtering based category
		const filter = $('.filter-tope-group');
		// search element
		let searchButton = document.querySelector('.js-show-search');

		// filter items on button click
		filter.each(function () {
			filter.on('click', 'button', function () {
				var filterValue = $(this).attr('data-filter') ;
				console.log(filterValue) ;
				// add 'data-categroy' attribute
				searchButton.setAttribute('data-category',filterValue) ;
				
			});
		});
		
		$(document).ready( function () {

   		    const iconCloseFilter = document.querySelector(".icon-close-filter");

			const showFilteredProducts = document.querySelector('.showSearchProduct') ;
			const showProducts = document.querySelector('.showProducts') ;
			const noSearchProducts = document.querySelector('.noSearchProducts') ;

			// when filter option closes
			iconCloseFilter.addEventListener('click',()=>{

			showProducts.classList.remove("d-none") ;
			showFilteredProducts.classList.add('d-none') ;
			noSearchProducts.classList.add('d-none') ;
	

			})
			// when clicking the link for filter
			$(".filter-link").on('click', function (e) {
				e.preventDefault() ;

				// removing the existing html content 
				showFilteredProducts.innerHTML = "" ;

				const color = $(this).data("color") ;
				const price = $(this).data('price') ;
				const sort = $(this).data("sort") ;
				const category = searchButton.getAttribute('data-category') ;

				console.log(category)
 
				const filterData = {
					colour : color || "" ,
					price : price || "" ,
					sort : sort || "" ,
					category : category
				}

				// creating ajax request to filter the products
				$.ajax({
					url : '/filter-products' ,
					method : 'post' ,
					data : filterData ,
					success : ( response ) => {
						if(response.status){
							
							showProducts.classList.add("d-none") ;
							showFilteredProducts.classList.remove('d-none') ;
									
							response.products.forEach((product)=>{
							const productContainer = document.createElement("div") ;
							productContainer.classList.add('col-sm-6', 'col-md-4', 'col-lg-3', 'p-b-35', 'isotope-item', `${product.category.name}`) ;
							productContainer.innerHTML = `
							            
											<!-- Block -->
												<div class="block2">
													<div class="block2-pic hov-img0">
														<img src="/product-images/${product.image[0]}" alt="IMG-PRODUCT">
							
														<a class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1"
														productId = ${product._id}>
															Quick View
														</a>
													</div>
							
													<div class="block2-txt flex-w flex-t p-t-14">
														<div class="block2-txt-child1 flex-col-l ">
															<a class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
																${product.name}
															</a>
							
															<span class="stext-105 cl3">
																${product.price}
															</span>
															<span class="description  cl3" style="display: none ;">
																${product.description}
															</span>
														</div>
							
														<div class="block2-txt-child2 flex-r p-t-3">
															
																<!-- <a onclick="addtoWishlist(')" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2 ">
																	<img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png" alt="ICON">
																	<img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png" alt="ICON">
																</a> -->
															
															
														</div>
													</div>
												</div>
								
								`
								showFilteredProducts.appendChild(productContainer) ;
							})
						}
						else{
							console.log('no products are found') ;
							showProducts.classList.add("d-none") ;
							showFilteredProducts.classList.add('d-none') ;
							noSearchProducts.classList.remove('d-none') ;


							// removing the html content from noSearch products
							noSearchProducts.innerHTML = "" ;

							

							const productContainer = document.createElement("div") ;
								
							productContainer.innerHTML = `
											
											<div class="col-12 text-center"  style="display: flex; justify-content: center; align-items: center;">
												<p class="text-muted">No products found matching your search.</p>
											</div>
									`
							noSearchProducts.appendChild(productContainer) ;
							
						}
					}
				})
			})

		})
	 </script>

      <!-- for quick view after searching -->
	 <script>
		
		document.querySelector('.showSearchProduct').addEventListener('click', (event) => {
		// Check if the clicked element has the class .js-show-modal1
		if (event.target && event.target.classList.contains('js-show-modal1')) {
			event.preventDefault(); // Prevent default behavior (if needed)

			// for show quick view
			document.querySelector('.js-modal1').classList.add('show-modal1')

			// Find the parent .isotope-item div
			const productElement = event.target.closest('.isotope-item');
			
			// Get product details
			const productId = event.target.getAttribute('productId'); 
			const productName = productElement.querySelector('.js-name-b2').textContent.trim();
			const productPrice = productElement.querySelector('.stext-105').textContent.trim();
			const productDescription = productElement.querySelector('.description').textContent.trim();
			const productImage = productElement.querySelector('.block2-pic img').getAttribute('src');

			console.log(productName) ;

				// to show product details
				const nameElement = document.querySelector('.product-name') ;
				const priceElement = document.querySelector('.product-price') ;
				const descriptionElement = document.querySelector('.product-description') ;
				const imageElement = document.querySelector('.product-image') ;
				const prodcuctFullView = document.querySelector('.product-fullView') ;
				const productPreview = document.querySelector('.productPreview') ;

				nameElement.innerHTML = productName ;
				priceElement.innerHTML = productPrice ;
				descriptionElement.innerHTML = productDescription ;
				
				// getting images
				const productImages = productElement.querySelector('.block2-pic img').getAttribute('data-images') ;
				const images = productImages.split(",") ;

				let i = 1 ;
				images.forEach((image)=>{

					const imageElement = document.querySelector(`.product-image${i}`) ;
					const prodcuctFullView = document.querySelector(`.product-fullView${i}`) ;
					const productPreview = document.querySelector(`.productPreview${i}`) ;

					imageElement.setAttribute('src',`/product-images/${image}`) ;
					prodcuctFullView.setAttribute('href',`/product-images/${image}`) ;
					productPreview.setAttribute('src', `/product-images/${image}` ) ;

					i++ ;
			
				});

			// using ajax make post request
			$("#cart-form").submit((e) => {
				e.preventDefault();

				const formData = $("#cart-form").serialize();

				console.log(formData);

				$.ajax({
					url: `/cart/${productId}`,
					method: 'post',
					data: formData,
					success: (response) => {
						if (response.status) {
							$('.js-show-cart').attr('data-notify', response.cartCount);
							swal(productName, "is added to cart !", "success");
						} else {
							location.href = '/login';
						}
					}
				});
			});
		}
	});

		
	 </script>

	 <!-- for searching product -->
	 <script>

		// for searching product
		document.getElementById('inputBox').onkeyup = searchProduct ;

		function searchProduct () {
			
			const category = searchButton.getAttribute('data-category') ;

			const inputData = document.getElementById('inputBox').value ;
			const showSearchProduct = document.querySelector('.showSearchProduct') ;
			const showProducts = document.querySelector('.showProducts') ;
			const noSearchProducts = document.querySelector('.noSearchProducts') ;
			
			if( inputData !== "" ) {
				$.ajax({
				url : '/product-search' ,
				method : 'post' ,
				data : { inputData , category } ,
				success : (response) => {
					if(response.status ) {
						
						showProducts.classList.add("d-none") ;
						noSearchProducts.classList.add('d-none') ;
						showSearchProduct.classList.remove('d-none') ;
						
						showSearchProduct.classList.add('faade-in');

						// remove the animation after animation complete
						showSearchProduct.addEventListener('animationend', () => {
									showFilteredProducts.classList.remove('faade-in');
						});

						console.log(showSearchProduct)
						// removing the all html contents
						showSearchProduct.innerHTML = "" ;

						response.searchProducts.forEach( product => {
							
							const productContainer = document.createElement("div") ;
							productContainer.classList.add('col-sm-6', 'col-md-4', 'col-lg-3', 'p-b-35', 'isotope-item' , `${product.category.name}`) ;
							productContainer.innerHTML = `
											<!-- Block -->
												<div class="block2">
													<div class="block2-pic hov-img0" >
														<img src="/product-images/${product.image[0]}" data-images= ${product.image} alt="IMG-PRODUCT">
							
														<a class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1"
														productId = ${product._id}>
															Quick View
														</a>
													</div>
							
													<div class="block2-txt flex-w flex-t p-t-14">
														<div class="block2-txt-child1 flex-col-l ">
															<a class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
																${product.name}
															</a>
							
															<span class="stext-105 cl3">
																${product.price}
															</span>
															<span class="description  cl3" style="display: none ;">
																${product.description}
															</span>
														</div>
							
														<div class="block2-txt-child2 flex-r p-t-3">
															
																<!-- <a onclick="addtoWishlist(')" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2 ">
																	<img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png" alt="ICON">
																	<img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png" alt="ICON">
																</a> -->
															
															
														</div>
													</div>
												</div>
								
								`
								showSearchProduct.appendChild(productContainer) ;
						})
					}
					else{
						showProducts.classList.add("d-none") ;
						showSearchProduct.classList.add('d-none') ;
						noSearchProducts.classList.remove('d-none') ;

						noSearchProducts.classList.add('faade-in');


						// removing the html content from noSearch products
						noSearchProducts.innerHTML = "" ;

						console.log('no products are found') ;

						const productContainer = document.createElement("div") ;
							
						productContainer.innerHTML = `
							            
										<div class="col-12 text-center"  style="display: flex; justify-content: center; align-items: center;">
											<p class="text-muted">No products found matching your search.</p>
										</div>
								`
						noSearchProducts.appendChild(productContainer) ;
						
					}
				}
			})
			}
			else{
				showProducts.classList.remove("d-none") ;
			    showSearchProduct.classList.add('d-none') ;
				noSearchProducts.classList.add('d-none') ;

				// add animation to showProducts
				showProducts.classList.add('faade-in');


			}
		}

		// ************************* //


		// for wishlist empty 
		$('.wishlist-icon').on('click',(e)=>{
			e.preventDefault() ;
			$.ajax({
				url : '/wishlist' ,
				method : 'get' ,
				success : (response) =>{
					if(response.wishlistEmpty){
						swal('wishlist is empty!','add products to wishlist', "info");
					}
					else{
						location.href = '/wishlist';
					}
				}
			})
		})

		// for show empty cart
		$('.cart-icon ').on('click',(e)=>{
			e.preventDefault() ;
			$.ajax({
				url : '/cart',
				method : 'get',
				success : (response) => {
					if( response.cartEmpty ){
						swal('cart is empty!','add products to cart', "info");
					}
					else{
						location.href = '/cart';
					}
				}
			})
		})

		// for show empty orders
		$('.orderIcon').on('click',(e)=>{
			e.preventDefault() ;
			$.ajax({
				url : '/orders',
				method : 'get',
				success : (response) => {
					if(response.emptyOrder){
						swal('Order list is empty!','buy products!', "info");
					}
					else{
						location.href = '/orders';
					}
				}
			})
		})
		
		// for products adding to wishlist
		function addtoWishlist (productId,productName) {

			// parent element
			const wishlistElement = document.querySelector('.block2-txt-child2')

			$.ajax({
				url : `/wishlist/${productId}`,
				method : 'post',
				success : (respose) => {
					if(respose.status) {
						$('.wishlist-icon').attr('data-notify',respose.wishlistCount) ;
						swal(productName, "is added to wishlist !", "success");
						
					}
					else{
						$('.wishlist-icon').attr('data-notify',respose.wishlistCount) ;
						swal(productName, "is removed from wishlist", "info");
					}
				}
			})
		}
	 </script>

	 <!-- when quick view button clickess -->
	 <script>
		document.addEventListener('DOMContentLoaded', function () {
		// Add event listeners to all "Quick View" buttons
		document.querySelectorAll('.js-show-modal1').forEach(button => {
			button.addEventListener('click', (event) => {
				event.preventDefault(); // Prevent default behavior (if needed)

				console.log('quick view clickeddd') ;

				// Find the parent `.isotope-item` div
				const productElement = button.closest('.isotope-item');

				// Get product details
				const productId = event.target.getAttribute('productId'); 
				const productName = productElement.querySelector('.js-name-b2').textContent.trim();
				const productPrice = productElement.querySelector('.stext-105').textContent.trim();
				const productDescription = productElement.querySelector('.description').textContent.trim();
				const productImage = productElement.querySelector('.block2-pic img').getAttribute('src');

				// getting images
				const productImages = productElement.querySelector('.block2-pic img').getAttribute('data-images') ;
				const images = productImages.split(",") ;

				// to show product details
				const nameElement = document.querySelector('.product-name') ;
				const priceElement = document.querySelector('.product-price') ;
				const descriptionElement = document.querySelector('.product-description') ;
				
				nameElement.innerHTML = productName ;
				priceElement.innerHTML = productPrice ;
				descriptionElement.innerHTML = productDescription ;

				let i = 1 ;
				images.forEach((image)=>{

					const imageElement = document.querySelector(`.product-image${i}`) ;
					const prodcuctFullView = document.querySelector(`.product-fullView${i}`) ;
					const productPreview = document.querySelector(`.productPreview${i}`) ;

					imageElement.setAttribute('src',`/product-images/${image}`) ;
					prodcuctFullView.setAttribute('href',`/product-images/${image}`) ;
					productPreview.setAttribute('src', `/product-images/${image}` ) ;

					i++ ;
			
				})
				
				// using ajax make post request 
				$("#cart-form").submit((e)=>{
					e.preventDefault() ;

					const formData = $("#cart-form").serialize() ;

					console.log(formData)

					$.ajax({
						url : `/cart/${productId}`,
						method : 'post' ,
						data : formData ,
						success : (response) => {
							if(response.status) {
								$('.js-show-cart').attr('data-notify',response.cartCount)
								    
										swal( productName , "is added to cart !", "success");
							
							}
							else {
								location.href = '/login'
							}
							
						}
					})
				})

			});
		});
   		
		});

		
		

		
	 </script>

<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<script>
	
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/slick/slick.min.js"></script>
	<script src="js/slick-custom.js"></script>
<!--===============================================================================================-->
	<script src="vendor/parallax100/parallax100.js"></script>
	<script>
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>
<!--===============================================================================================-->
	<script src="vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/sweetalert/sweetalert.min.js"></script>
	<script>
		$('.js-addwish-b2').on('click', function(e){
			e.preventDefault();
		});

		// $('.js-addwish-b2').each(function(){
		// 	var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
		// 	$(this).on('click', function(){
		// 		swal(nameProduct, "is added to wishlist !", "success");

		// 		$(this).addClass('js-addedwish-b2');
		// 		$(this).off('click');
		// 	});
		// });

		// $('.js-addwish-detail').each(function(){
		// 	var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

		// 	$(this).on('click', function(){
		// 		swal(nameProduct, "is added to wishlist !", "success");

		// 		$(this).addClass('js-addedwish-detail');
		// 		$(this).off('click');
		// 	});
		// });

		/*---------------------------------------------*/

		// $('.js-addcart-detail').each(function(){
		// 	var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
		// 	$(this).on('click', function(){
		// 		swal(nameProduct, "is added to cart !", "success");
		// 	});
		// });
	
	</script>
<!--===============================================================================================-->
	<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>